.home body {
  background-image: url("/images/IMG_8691.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* optional */
}
